.starting_bg {
    background-image: url("images/main_wallpaper.jpg");
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    overflow: auto;
}
.geralt_bg {
    background-image: url("images/geralt_wallpaper.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.ciri_bg {
    background-image: url("images/ciri_wallpaper.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.triss_bg {
    background-image: url("images/triss_wallpaper.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.yennefer_bg {
    background-image: url("images/yennefer_wallpaper.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#title {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
    margin-top: 50px;

}
.char_picture {
    width: 80px;
    height: 100%;
    padding: 0;
    border-radius: 50px;
    margin: 0;
}
.thumbnail {
    padding: 0;
    margin-bottom: 0;
    border-radius: 50px;
}
.name {
    text-align: center;
    font-size: 1em;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.health {
    text-align: center;
    font-size: 1em;
    padding-top: 0px;
}
.caption {
    padding: 0px;
}
.unselectedChampions {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
}
.ciri_player {
    border: 2px solid red;
    padding: 0;
    border-radius: 50px;
}
.geralt_player {
    border: 2px solid red;
    padding: 0;
    border-radius: 50px;
}
.yennefer_player {
    border: 2px solid red;
    padding: 0;
    border-radius: 50px;
}
.triss_player {
    border: 2px solid red;
    padding: 0;
    border-radius: 50px;
}
#playerChampion {
    position: fixed;
    top: 20;
    left:10;
    padding: 30px;
}
#computerChampion {
    position: fixed;
    bottom: 80;
    left:10;
    padding: 30px;
}
#computerDefenders{
    position: fixed;
    right:10;
    top:20;
    padding-right: 30px;
    padding-top: 20px;
}
#message1{
    position: absolute;
    right: 30%;
    top:-5%;
    font-family: 'Dosis', sans-serif;
    text-align: center;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}